In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("fila.csv")

In [3]:
data.head()

,blood_diseases,age,weight,hemoglobin_level,period_between_successive_blood_donations,temperature,pulse_rate
0,1,68,67,14.7,26,36.5,86.1
1,0,31,76,13.5,23,36.5,56.7
2,0,45,83,16.3,22,38.3,96.9
3,0,30,74,12.6,4,38.1,90.9
4,0,25,58,14.9,9,36.3,55.9

In [4]:
data['can'] = (data['weight'] < 50) | (data['age'] > 65) | (data['hemoglobin_level'] < 12) | (data['period_between_successive_blood_donations'] < 3)| (data['temperature'] >= 37.6) | (data['pulse_rate'] < 50) | (data['pulse_rate'] > 100) == 0

In [5]:
data.head()

,blood_diseases,age,weight,hemoglobin_level,period_between_successive_blood_donations,temperature,pulse_rate,can
0,1,68,67,14.7,26,36.5,86.1,False
1,0,31,76,13.5,23,36.5,56.7,True
2,0,45,83,16.3,22,38.3,96.9,False
3,0,30,74,12.6,4,38.1,90.9,False
4,0,25,58,14.9,9,36.3,55.9,True

In [6]:
data["can"] = data["can"].astype(int)

In [7]:
data.head()

,blood_diseases,age,weight,hemoglobin_level,period_between_successive_blood_donations,temperature,pulse_rate,can
0,1,68,67,14.7,26,36.5,86.1,0
1,0,31,76,13.5,23,36.5,56.7,1
2,0,45,83,16.3,22,38.3,96.9,0
3,0,30,74,12.6,4,38.1,90.9,0
4,0,25,58,14.9,9,36.3,55.9,1

In [34]:
data.to_csv('File.csv')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   blood_diseases                             5000 non-null   int64
 1   age                                        5000 non-null   int64
 2   weight                                     5000 non-null   int64
 3   hemoglobin_level                           5000 non-null   float64
 4   period_between_successive_blood_donations  5000 non-null   int64
 5   temperature                                5000 non-null   float64
 6   pulse_rate                                 5000 non-null   float64
 7   can                                        5000 non-null   int32
dtypes: float64(3), int32(1), int64(4)
memory usage: 293.1 KB

In [9]:
data.isnull().sum()

blood_diseases                               0
age                                          0
weight                                       0
hemoglobin_level                             0
period_between_successive_blood_donations    0
temperature                                  0
pulse_rate                                   0
can                                          0
dtype: int64

In [10]:
data.columns

Index(['blood_diseases', 'age', 'weight', 'hemoglobin_level',
       'period_between_successive_blood_donations', 'temperature',
       'pulse_rate', 'can'],
      dtype='object')

In [11]:
y=data['can']

In [12]:
y

0       0
1       1
2       0
3       0
4       1
       ..
4995    0
4996    0
4997    0
4998    0
4999    1
Name: can, Length: 5000, dtype: int32

In [13]:
x = data[['blood_diseases', 'age', 'weight', 'hemoglobin_level',
       'period_between_successive_blood_donations', 'temperature',
       'pulse_rate']]

In [14]:
x

,blood_diseases,age,weight,hemoglobin_level,period_between_successive_blood_donations,temperature,pulse_rate
0,1,68,67,14.7,26,36.5,86.1
1,0,31,76,13.5,23,36.5,56.7
2,0,45,83,16.3,22,38.3,96.9
3,0,30,74,12.6,4,38.1,90.9
4,0,25,58,14.9,9,36.3,55.9
...,...,...,...,...,...,...,...
4995,1,36,66,17.0,20,38.8,103.7
4996,0,68,86,16.5,13,35.8,56.4
4997,0,55,90,14.0,25,39.8,61.2
4998,0,63,47,15.3,20,35.2,56.2
4999,0,23,57,14.2,30,35.1,90.5

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [17]:
print(x_train.shape,x_test.shape,x.shape)

(4000, 7) (1000, 7) (5000, 7)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model=LogisticRegression()

In [20]:
model

LogisticRegression()

In [21]:
x_train

,blood_diseases,age,weight,hemoglobin_level,period_between_successive_blood_donations,temperature,pulse_rate
3785,0,35,69,15.9,17,35.6,96.1
2177,0,67,50,15.0,9,39.1,85.3
3107,1,57,85,16.7,7,38.6,81.2
2036,1,65,47,12.5,25,39.0,54.7
1082,0,69,97,16.4,12,39.7,72.2
...,...,...,...,...,...,...,...
1855,1,47,99,15.2,0,38.8,74.9
665,1,47,81,15.7,19,40.0,72.3
993,1,39,87,14.0,6,39.7,93.2
3011,1,30,57,14.2,9,36.5,97.0
2971,1,59,96,12.5,14,35.6,71.5

In [22]:
y_train

3785    1
2177    0
3107    0
2036    0
1082    0
       ..
1855    0
665     0
993     0
3011    1
2971    1
Name: can, Length: 4000, dtype: int32

In [23]:
model.fit(x_train,y_train)

C:\Users\aleks\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
x_train_prediction=model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [26]:
print("Accurracy on Test data :",training_data_accuracy)

Accurracy on Test data : 0.81175

In [27]:
x_test_prediction=model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [28]:
print("Accurracy on Test data :",test_data_accuracy)

Accurracy on Test data : 0.816

In [31]:
prep=model.predict([[1,68,67,14.7,26,36.5,86.1]])
print(prep)

[0]

In [32]:
import pickle

In [33]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)